h1{
    color: #8C5F66;
    text-align: center;
}
h2{
    color:whitesmoke;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid black;
}
.content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.player,
.computer{
    width: 50%;
    text-align: center;
    padding: 10px;
}
.player{
    background-color: #ADBCA5;
}
.computer{
    background-color: #E8B9AB;
}
.images{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.icon,
.icon-btn{
    width: 90%;
    height: 90%;
}
.btn{
    margin: 2px;
    height: 20em;
    width: 30%;
}
.new-btn{
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    width: 30%
}
.btn-custom{
    width: 10%;
    height: 25px;
    padding: 5px;
}
.pop-messages{
    width: 35%;
    background-color: whitesmoke;
}
.scores{
    display: flex;
}
.player-score{
    width: 50%;
    background-color: aquamarine;
    text-align: center;


}
.computer-score{
    width: 50%;
    background-color: darkcyan;
    text-align: center;

}
.p-score, 
.c-score{
    padding-left: 1em;
  
}